@import url('https://fonts.googleapis.com/css2?family=Inter:wght@750&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    color:  #333333;
    
    
}

body {
    background-color: #f5f6fa;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border-bottom: 1px solid #858A8F;

}

nav .menu-toggle {
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

nav .menu-toggle span {
    background-color: black;
    height: 4px;
    width: 100%;
    display: block;

}
.sidebar{
    display: none;
}

.logo {
    margin-left: 5rem;
    display: flex;
    align-items: center;

}

.navbar-link {
    display: flex;
    justify-content: center;
}

.navbar-link ul {
    display: flex;
    gap: 3rem;
    list-style: none;

}

.navbar a {
    text-decoration: none;
    color: #858A8F;
    font-size: large;
    font-weight: bolder;
}

.navbar-button {
    width: 20%;
}

.navbar-button button {
    background-color: #0176FF;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: large;
    padding: .5rem;

}

.cover {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #FFFFFF;
    width: 100%;

}

.cover iframe {
    align-self: center;
    padding: 3rem 0rem 4rem 0rem;

}

.cover p {
    text-align: center;
    color: #858A8F;
    font-size: 1rem;
    text-wrap: wrap;

}

.cover h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 5rem;
    font-family: 'Inter', sans-serif;
    color:  #333333;
    font-weight: bolder;


}

.information {
    display: flex;
    background-color: #f5f6fa;
    padding: 2rem 5rem 5rem 5rem;
    gap: 5rem;
    margin: 5rem 5rem 0rem 5rem;

}

.information p {
    color: #858A8F;
    text-wrap: wrap;


}

.feature1 {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 2rem;
    gap: 2rem;
    align-items: start;
    border-radius: 4px;
    box-shadow: 1px 2px #888888;
    margin-top: 1rem;
}

.message {
    display: flex;
    gap: 2rem;
}

.contact-us {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
    width: 40%;
    margin: auto;
    background-color: #f5f6fa;
    margin-top: 5rem;
}

.contact-us p {
    text-wrap: wrap;
    color: #898A8E;
}

.contact-us .form-input {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-content: center;
    justify-content: center;

}

.contact-us .form-input input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 100%;
    outline: none;
}

.contact-us .form-input textarea {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 100%;
    outline: none;
}

.contact-us .form-check {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.contact-us .form-check .btn {
    padding: 10px;
    background-color: #0176FF;
    margin-right: 5rem;
    border-radius: 5px;
    color: #FFFFFF;
    width: 30%;
    font-weight: bold;
    font-size: large;

}

footer {
    display: flex;
    flex-direction: row;
    gap: 8rem;
    justify-content: center;
    margin-top: 5rem;
    padding: 4rem;
    background-color: #FFFFFf;
}

footer p {
    text-wrap: wrap;
    color: #898A8E;
}

.flogo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 15%;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer .flogo img {
    width: 9.5rem;
}
footer .flogo .copyright p{
    text-wrap: nowrap;
}